export(syncon.init, syncon.impact, syncon.crossval, syncon.sensitivity, syncon.plots, syncon.save)
importFrom("graphics", "legend", "matplot", "par", "points")
importFrom("stats", "AIC", "as.formula", "cov", "dpois", "glm", "median", "poisson", "prcomp", "predict", "quantile", "rmultinom", "rnorm", "rpois", "sd", "setNames", "stl", "var", "vcov")
importFrom("ggplot2", "aes", "aes_string", "geom_line", "geom_point", "geom_polygon", "geom_ribbon", "geom_vline", "ggplot", "ggtitle", "scale_colour_manual", "scale_fill_hue", "theme", "theme_bw", "element_blank", "element_line", "element_rect", "element_text", "labs")
importFrom("loo", "stacking_weights")
importFrom("lme4", "glmer", "glmerControl", "fixef")
importFrom("lubridate", "as_date", "%m+%", "year", "month")
importFrom("splines", "bs")
importFrom("pomp", "logmeanexp")
importFrom("reshape", "melt")
importFrom("MASS", "mvrnorm")
importFrom("RcppRoll", "roll_sum")
importFrom("pogit", "poissonBvs")
importFrom("parallel", "detectCores", "makeCluster", "clusterEvalQ", "clusterExport", "parLapply", "stopCluster")
importFrom("listenv", "listenv")